<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">procode</th>
        <th scope="col">proname</th>
        <th scope="col">date</th>
        <th scope="col">expirydate</th>
        <th scope="col">brand</th>
        <th scope="col">price</th>
        <th scope="col">sellername</th>
        <th scope="col">distname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
