<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">procode</th>
        <th scope="col">proname</th>
        <th scope="col">date</th>
        <th scope="col">expirydate</th>
        <th scope="col">brand</th>
        <th scope="col">price</th>
        <th scope="col">sellername</th>
        <th scope="col">distname</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.procode}}</td>
        <td>{{i.proname}}</td>
        <td>{{i.date}}</td>
        <td>{{i.expirydate}}</td>
        <td>{{i.brand}}</td>
        <td>{{i.price}}</td>
        <td>{{i.sellername}}</td>
        <td>{{i.distname}}</td>
      </tr>
    </tbody>
  </table>
